In [10]:
import pandas as pd

## Import Data and convert to DataFrame

In [31]:
#Import data
raw_data = "raw_data.csv"
coi_data = "coi_data.csv"
zip_fips = "fips_to_zip.csv"
zip_ll = "zip_to_latlon.csv"

#Convert to pandas dataframe
raw_data_df = pd.read_csv(raw_data, encoding="utf-8")
coi_data_df = pd.read_csv(coi_data, encoding="utf-8")
zip_fips_df = pd.read_csv(zip_fips, encoding="utf-8")
zip_ll_df = pd.read_csv(zip_ll, encoding="utf-8")

## Prepare Zipcode and FIPS dataset for merging

In [32]:
#Rename zip and county fips for merge
zip_fips_df = zip_fips_df.rename(columns={"ZIP": "Zip", "STCOUNTYFP": "countyfips"})
zip_fips_df

         Zip         COUNTYNAME STATE  countyfips CLASSFP
0      36003     Autauga County    AL        1001      H1
1      36006     Autauga County    AL        1001      H1
2      36008     Autauga County    AL        1001      H1
3      36022     Autauga County    AL        1001      H1
4      36051     Autauga County    AL        1001      H1
...      ...                ...   ...         ...     ...
46850    820   St. Croix Island    VI       78010      H4
46851    840   St. Croix Island    VI       78010      H4
46852    850   St. Croix Island    VI       78010      H4
46853    830    St. John Island    VI       78020      H4
46854    802  St. Thomas Island    VI       78030      H4

[46855 rows x 5 columns]

In [35]:
#Merge Zip-Fips-Lat Long
merge_zip_fip_df = zip_fips_df.merge(zip_ll_df, on="Zip")
merge_zip_fip_df = merge_zip_fip_df[["Zip", "countyfips", "Latitude", "Longitude"]]
merge_zip_fip_df

         Zip  countyfips   Latitude  Longitude
0      36003        1001  32.439967 -86.688010
1      36006        1001  32.652790 -86.714300
2      36006        1021  32.652790 -86.714300
3      36008        1001  32.501649 -86.572711
4      36022        1001  32.612619 -86.394970
...      ...         ...        ...        ...
46512    820       78010  17.734211 -64.734694
46513    840       78010  17.734211 -64.734694
46514    850       78010  17.734211 -64.734694
46515    830       78020  18.328160 -64.740737
46516    802       78030  18.322285 -64.963715

[46517 rows x 4 columns]

In [42]:
#Merge on countyfips for final RAW dataset
raw_zip_df = raw_data_df.merge(merge_zip_fip_df, on="countyfips")

In [43]:
#Merge on countyfips for final COI dataset
coi_zip_df = coi_data_df.merge(merge_zip_fip_df, on="countyfips")

## Upload CSV files to data folder

In [44]:
raw_zip_df.to_csv('raw_zip_data.csv')

KeyboardInterrupt:

In [ ]:
coi_zip_df.to_csv('coi_zip_data.csv')